.delivery
  background: #F3F3F3

  .title 
    margin-bottom: 1.5rem
    text-align: center

  .text
    text-align: center
    margin-bottom: 2.5rem  

  &__inner 
    grid-column-start: 2
    grid-column-end: 3

    &-content 
      +grid(27rem, 2.5rem)

      padding: 0 7rem

      .item 
        display: flex
        flex-direction: column
        align-items: center

        padding: 0 1.5rem 2rem 1.5rem 

        background: white

        input 
          width: 100%

          &:not(:nth-child(6))  
            margin-bottom: 0.3rem

          &:nth-child(6)
            margin-bottom: 1.5rem  

        .button
          margin-bottom: 1rem    

        &__title 
          +font('Open Sans', 700, 1.6rem)      
          color: white
          text-transform: uppercase

          background: $blue
          padding: 2rem
          text-align: center

          width: 111%

          margin-bottom: 1rem 

          position: relative
          left: 0

        &__img 
          margin-bottom: 0.4rem

          min-height: 6.1rem

          display: flex
          align-items: center
            

        &__description 
          text-align: center
          margin-bottom: 2.3rem

          p
            &:first-child
              +font('Open Sans', 600, 1.8rem)  
              color: #3A3A3A  
              text-transform: uppercase

            &:last-child
              +font('Open Sans', 600, 2.8rem)   
              color: $red

        &__notice
          +font('Open Sans', 300, 1.3rem)  
          color: #616467  
          text-align: center

          width: 100%
          max-width: 20rem     

@media (max-width: 1249px)
  .delivery__inner-content
    .item__title 
      width: 107%
      
@media (max-width: 881px)
  .delivery__inner-content
    .item__title 
      width: 105.5%    

@media (max-width: 630px)
  .delivery__inner-content
    .item__title 
      width: 108%       

@media (max-width: 480px)
  .delivery__inner-content
    padding: 0 2rem

@media (max-width: 340px)
  .delivery__inner-content
    .item__title 
      width: 111% 